@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black overflow-x-hidden text-white;
}

@font-face {
    font-family: Panchang-Extrabold ;
    src: url('./fonts/Panchang-Extrabold.ttf');
}

@font-face {
    font-family: Panchang-Light ;
    src: url('./fonts/Panchang-Light.woff2');
}

@font-face {
    font-family: Panchang-Medium ;
    src: url('./fonts/Panchang-Medium.woff');
}

@font-face {
    font-family: HankenGrotesk-Bold ;
    src: url('./fonts/HankenGrotesk-Bold.ttf');
}